
:root {
    --primaryBackground:hsl(0, 2%, 81%);
}

/*..... General styles .....*/
*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 

body {
    max-width: 75em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 16em;
    grid-template-rows: 1fr 2fr 3em;
    grid-gap: 0.5em 1em; 
    font-family: helvetica, verdana, arial, sans-serif;
}
/*..... Header styles .....*/
header {
    grid-column: 1/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-image: url("../img/headerEdited.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header .logo {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    max-width: 4em;
}

header nav {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    animation: downTrans 0.5s ease-in; 
}

header ul{
    display: flex;
    align-items: center;
    gap: 6em;
    list-style: none;
}

header ul li, 
header a {
    color: hsl(0, 0%, 50%);
}

header a {
    padding: 0.5em;
    text-decoration: none;
}

header a:hover {
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}

header .social {
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

header .hero {
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    grid-row: 5/8;
    justify-self: center;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
    font-size: 2em;
    font-weight: 600;
    color:hsla(34, 100%, 53%, 0.508);
    background-color: hsla(0, 0%, 0%, 0.049);
    animation: upTrans 0.5s ease
}

/*..... Main styles .....*/

main {
    grid-column: 1/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 5em; 
    background-color: var(--primaryBackground)  
}

article {
    flex: 1 1 auto;
    padding: 0.5em;
    background-color:hsl(0, 0%, 94%);
}

main p:last-of-type {
    grid-column:1/3;
    grid-row: 3/4;  
}



article figure {
    position: relative;
}

article figure img {
    max-width: 100%;
}

article figure span {
    display: block;
    position: absolute;
    bottom: 0.25em;
    left: 0.25em;
    color:hsla(63, 85%, 62%, 0.796);
}

article h2 {
    padding: 0.50em 0em 0.10em 0.25em;
    color:hsl(0, 0%, 94%);
    background-color: hsl(9, 77%, 71%);
}

article p {
    column-count:2;
    padding: 1em 0.5em;
}

article a:last-child{
    padding: 0.5em;
}

article a:hover {
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
    text-decoration: none;
}


/*..... aside section .....*/
aside {
    grid-column: 3/4;
    grid-row: 2/3;
    padding: 1em;
    background-color: var(--primaryBackground);
}

aside ul {   
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

aside a {
    font-weight: 900;
    text-decoration: none;
}

aside a:hover {
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}

footer {
    grid-column: 1/4;
    grid-row: 3/4;
    text-align: center;
    padding: 0 0.5em;
    margin-bottom: 0.5em;
    background-color: var(--primaryBackground);
} 

/*..... footer .....*/
footer p {
    padding: 0.75em 0;
    background-color:hsl(0, 0%, 94%);
}

/* Tablet mediaQ */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    
    header {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    main {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    aside {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    footer {
        grid-column: 1/2;
        grid-row: 4/5;
    } 
  }
  
/* Smartphone mediaQ */
@media (min-width: 280px) and (max-width: 767px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 1fr 1fr 1fr;
    }

    header {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    main {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    aside {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    footer {
        grid-column: 1/2;
        grid-row: 4/5;
    } 
  }

@keyframes downTrans {
    0%{
        opacity: 0;
        transform: translateY(-10em);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes upTrans {
    0%{
        opacity: 0;
        transform: translateY(10em);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}