body > * {
    background-color: goldenrod;
    padding: 1em;
    font-size: 2em;
}

body {
    display: grid;
    grid-gap: 1em;
    grid-template-areas: 
        "header header header"
        "main main aside"
        "footer footer footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
} 
@media (min-width: 280px) and (max-width: 767px) {
    body {
        grid-template-areas: 
        "header"
        "main"
        "aside"
        "footer";
    }
  }

@keyframes downNav {
    0%{
        opacity: 0;
        transform: translateY(-10em);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes upHero {
    0%{
        opacity: 0;
        transform: translateY(10em);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}