:root {
    --mainTabletMobile: hsl(60, 100%, 50%);
}

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 

body {
    margin: 0 auto;
    max-width: 75em;
}

header, 
main, 
footer {
    margin: 1em;
    border: 0.25em solid hsl(0, 0%, 0%);
}

.header-sup {
    display: flex;
    gap: 1em;
    padding: 1em;
    border-bottom: 0.125em solid hsl(0, 0%, 0%);
    background-color: hsl(215, 34%, 31%);
}

.logo,
.header-sup nav,
.social {
    height: 1em;
    flex: 1 1 auto;
    background-color: hsl(9, 100%, 64%);
}

.header-sup nav {
    flex: 4 1 auto;
}

.header-inf {
    padding: 1em;
    background-color:hsl(36, 89%, 51%);
}

.hero {
    height: 1em;
    background-color:hsl(59, 87%, 47%);
}


main{
    display: flex;
}

.main-articles {
    display: flex;  
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
    border-right: 0.25em solid hsl(0, 0%, 0%);
    background-color: hsl(218, 26%, 33%);
}

.main-articles article {
    width: 17em;
    height: 1em;  
    flex: 1 1 auto;
    background-color: hsla(226, 53%, 55%, 0.897);
}

.main-articles article:last-child {
    background-color: hsla(218, 93%, 70%, 0.986);
}

aside {
    padding: 1em;
    background-color: hsl(9, 100%, 64%);
}

aside p {   
    width: 16em;
    height: 1em; 
    margin-bottom: 0.5em;
    background-color: hsl(59, 97%, 74%); 
}

footer {
    padding: 1em;
    background-color:hsl(44, 78%, 51%);
}

/*
@media (min-width: 768px) and (max-width: 1084px) {
    main {
        display: flex;
        flex-direction: column;
        border: 1em solid var(--mainTabletMobile);
    }

    .main-articles {
        border-right: none;
        border-bottom: 1em solid var(--mainTabletMobile);
    }

    aside p {
        width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
  
    main {
        display: flex;
        flex-direction: column;
        border: 1em solid var(--mainTabletMobile);
    }

    .main-articles {
        border-right: none;
        border-bottom: 1em solid var(--mainTabletMobile);
    }

    aside p {
        width: 100%;
    }
  }
  */