
:root {
    --borderBlack: hsl(0, 0%, 0%);
    --borderYellow: hsl(60, 100%, 50%);
    --primaryBackground:hsl(0, 2%, 81%);
}
/*..... General styles .....*/
*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 

body {
    margin: 0 auto;
    max-width: 75em;
    font-family: helvetica, verdana, arial, sans-serif;
}

/*..... Header sup and inf .....*/
header {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../img/headerEdited.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/*..... superior .....*/
.header-sup {
    display: flex;
    gap: 1em;
    padding: 1em;
}

.logo,
.header-sup nav,
.social {
    flex: 1 1 auto;
}

.logo img {
    max-width: 4em;
}

.header-sup nav {
    flex-grow: 4;
    display: flex;
    justify-content: center;
}

.header-sup ul{
    display: flex;
    align-items: center;
    gap: 6em;
    list-style: none;
}

.header-sup ul li, 
.header-sup a {
    color: hsl(0, 0%, 50%);
}

.header-sup a {
    padding: 0.5em;
    text-decoration: none;
}

.header-sup a:hover {
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
  }

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
} 
/*..... inferior .....*/
.header-inf {
    height: 40%;
    display: flex;
    align-items: flex-end;
    justify-content: center;  
}

.hero {  
    height: 100%;
    width: 85%;
    padding-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: 600;
    color:hsla(34, 100%, 53%, 0.508);
    background-color: hsla(0, 0%, 0%, 0.049);
}

/*..... Main section .....*/
main{
    display: flex;
    gap: 0.5em;
    margin: 0.5em 0;
}

/*..... articles section.....*/
.main-articles {
    display: flex;  
    flex-wrap: wrap;    
    gap: 1.25em;
    padding: 0.7em;
    background-color: var(--primaryBackground);
}

.main-articles article {
    width: 19.5em; 
    flex: 1 1 auto;
    padding: 0.5em;
    background-color:hsl(0, 0%, 94%);
}

article figure {
    position: relative;
}

article figure img {
    max-width: 100%;
}

article figure span {
    display: block;
    position: absolute;
    bottom: 0.25em;
    left: 0.25em;
    color:hsla(63, 85%, 62%, 0.796);
}

article h2 {
    padding: 0.50em 0em 0.10em 0.25em;
    color:hsl(0, 0%, 94%);
    background-color: hsl(9, 77%, 71%);
}

article p {
    column-count:2;
    padding: 1em 0.5em;
}

article a:last-child{
    padding: 0.5em;
}

article a:hover {
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
    text-decoration: none;
}

.main-articles p:last-child{
    flex: 1 1 auto;
    padding: 0.5em;
}

/*..... aside section .....*/
aside {
    padding: 1em;
    background-color: var(--primaryBackground);
}

aside ul {   
    width: 16em;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

aside a {
    font-weight: 900;
    text-decoration: none;
}

aside a:hover {
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}

/*..... footer .....*/
footer {
    text-align: center;
    padding: 0 0.5em;
    margin-bottom: 0.5em;
    background-color: var(--primaryBackground);
}

footer p {
    padding: 0.75em 0;
    background-color:hsl(0, 0%, 94%);
}

/*..... tabler @media  .....*/
@media (min-width: 768px) and (max-width: 1024px) {   
    .header-sup ul{
        gap: 2em;
    }

    .hero {  
        height: 100%;
        width: 100%;
    }
    
    main {
        flex-direction: column;
    }

    .main-articles article {
        width: 20em;
    }

    article p {
        column-count:1;
    }

    aside ul {   
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        gap: 0.4em;
    }
}

/*..... smartphone @media  .....*/
@media (min-width: 280px) and (max-width: 767px) {
    header {
        height:70vh;
        background-image: url("../img/headerMobile.webp");
    }
    
    .header-sup {
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

    .header-sup ul{
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
        padding-top: 2em;
    }

    .header-sup ul li, 
    .header-sup a {
        color: hsl(0, 0%, 0%);
    }

    .header-inf {
        height: 25%;
    }

    .hero {  
        height: 100%;
        width: 100%;
        padding-bottom: 0;
        font-size: 1,5em;
    }
    
    main {
        flex-direction: column;
    }

    .main-articles {
        flex-direction: column;
        align-items: center;
    }

    .main-articles article {
        width: 100%;
    }

    .main-articles article p {
        column-count: 1;
        padding: 1em 0.5em;
    }

    aside ul {   
        width: 100%;
        gap: 1em;
    }
  }
  