:root {
    --borderBlack: hsl(0, 0%, 0%);
    --borderYellow: hsl(60, 100%, 50%);
    --primaryBackground:hsl(0, 2%, 81%);
}

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 

body {
    margin: 0 auto;
    max-width: 75em;
}

header, 
main, 
footer {
    margin: 1em;
}

.header-sup {
    display: flex;
    gap: 1em;
    padding: 1em;
}

.logo,
.header-sup nav,
.social {
    flex: 1 1 auto;
}

.logo img {
    max-width: 4em;
}

header {
    background-image: url("../img/headerEdited.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header-sup nav {
    flex-grow: 4;
    display: flex;
    justify-content: center;
}

.header-sup ul{
    display: flex;
    align-items: center;
    gap: 6em;
    list-style: none;
}

.header-sup a {
    padding: 0.5em;
    text-decoration: none;
    color: hsl(0, 1%, 17%);
}

.header-sup a:hover {
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
  }

.social {
    display: flex;
    align-items: center;
} 

.header-inf {
    height: 10em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero {
    width: 75%;
    height: 50%;    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(0, 0%, 0%, 0.049); 
}

.hero p {
    font-weight: 600;
    color:hsla(34, 100%, 53%, 0.508);
}

main{
    display: flex;
    gap: 0.5em;
}

.main-articles {
    display: flex;  
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
    background-color: var(--primaryBackground);
}

.main-articles article {
    width: 18em; 
    flex: 1 1 auto;
    padding: 0.5em;
    background-color:hsl(0, 0%, 94%);
}

figure img {
    max-width: 100%;
}

article h2 {
    padding: 0.12em;
    color:hsl(0, 0%, 94%);
    background-color: hsl(9, 100%, 64%);
}

.main-articles article p {
    column-count:2;
    padding: 1em 0.5em;
}
 .main-articles span {
    padding: 0.5em;
}
 
aside {
    padding: 1em;
    background-color: var(--primaryBackground);
    
}

aside p {   
    width: 16em;
    height: 1em; 
    margin-bottom: 0.5em;
    background-color: hsl(59, 97%, 74%); 
}

footer {
    text-align: center;
    padding: 1em;
    background-color: var(--primaryBackground);
}


@media (min-width: 768px) and (max-width: 1024px) {

    .header-sup ul{
        gap: 2em;
    }
    
    main {
        flex-direction: column;
    }

    .main-articles article {
        width: 20em;
    }

    aside p {
        width: 100%;
    }
}

@media (min-width: 280px) and (max-width: 767px) {
    .header-sup {
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

    .header-sup ul{
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
    }
    
    main {
        flex-direction: column;
    }

    .main-articles {
        flex-direction: column;
        align-items: center;
    }

    .main-articles article p {
        column-count:1;
        padding: 1em 0.5em;
    }

    aside p {
        width: 100%;
    }
  }
  